
html, body {
    margin: 0;
    padding: 0;
}


body{   
    background: linear-gradient(152deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%) ;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* height: 100%; */
    margin-left: 10vw;
    margin-right: 10vw;
}


h1,p{
    margin:0;

    color:white;

}

h1{
    padding-top: 8vh;
    font-size:5em;

}

p{
    font-size:1.5em;
    padding: 0.5em;
    border-bottom: 0.3em double rgba(255, 255, 255, 0.904);
    margin-bottom: 5em;
}

img{
    border-radius: 0.2em;
}

