
html, body {
    margin: auto;
    padding: 0;
    font-size: min(1.5vw,10px) ;
    min-width: 550px;
    max-width: 1920px;

}


body{   
    background: white ;

}




.head-background{
    background-image: url(../image/background.jpg) ;
    background-position:center;
    height: 400px;
    background-size:cover ;
}

.personinfo-container{
    display: grid;   
    grid-template-areas: 
        ". . ."
        ". personinfo ."
        ". . .";
    height: 100%;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr ;

}

.personinfo{
    grid-area: personinfo;
    text-align: center;
}

.personinfo h1,p{
    margin:0;
    color:rgb(255, 255, 255);

}


.personinfo img{
    max-height:100px;
    font-size: 20px;
    border-radius: 100%;
    border:0.2rem solid white;
}

.personinfo h1{
    position: relative;
    top: 1rem;
    font-size:3em;
}

.personinfo p{
    position: relative;
    top: 1rem;
    font-size:1.5em;
}


.span{
    height: 100px;
}

.main-layout{
    display: grid;

    height: 100%;
    grid-template-columns:minmax(5vw,50px) auto minmax(5vw,5px);
    grid-template-areas: "none-L photopage none-R";
}


.photo{
   grid-area:photopage;
   /* display: grid;
   grid-template-columns: repeat(auto-fill,150px); */
   column-count: 4;
   column-gap: 3px;
}

@media screen and (max-width: 800px) {
    .photo{
        column-count: 3;
     }
}


nav{
    position: absolute;
    min-width:550px ;
    top: 0px;
    left: 0px;
}



nav ul{
    display: flex;
    padding: 0;
    margin: 0;

    flex-wrap:nowrap;
}

nav li {
    flex:1 ;
    list-style: none;
    text-align: center;
}

nav li a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    padding: 1.5rem 0;
    font-size: 2rem;
    letter-spacing:0.3em;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

li a:hover{
    font-weight:bold;

}



img{
    border-radius: 0.2em;
}



footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.055);
  }