
html, body {
    margin: 0;
    padding: 0;
    font-size: 10px;

}


body{   
    background: white ;

}




.head-background{
    background-image: url(../image/background.jpg) ;
    background-size:cover ;
}

.personinfo-container{
    display: grid;   
    grid-template-areas: 
        ". . ."
        ". personinfo ."
        ". . .";

    grid-template-rows: 100px auto 100px;
    grid-template-columns: 1fr auto 1fr ;

}

.personinfo{
    grid-area: personinfo;
    text-align: center;
}

.personinfo h1,p{
    margin:0;
    color:rgb(255, 255, 255);

}


.personinfo img{
    max-height:200px;
    font-size: 20px;
    border-radius: 100%;
    border:0.2rem solid white;
}

.personinfo h1{
    font-size:5em;
}

.personinfo p{
    font-size:2em;
}


.span{
    height: 100px;
}

.main-layout{
    display: grid;
    grid-template-columns:minmax(5vw,50px) auto minmax(5vw,5px);
    grid-template-areas: "none-L photopage none-R";
}


.photo{
   grid-area:photopage;
   /* display: grid;
   grid-template-columns: repeat(auto-fill,150px); */
   column-count: 4;
   column-gap: 3px;
}




nav{
    background-color: rgba(255, 255, 255, 0.103);
    width: 100%;
}

nav ul{
    display: flex;
    padding: 0;
    margin: 0;

    flex-wrap:nowrap;
}

nav li {
    flex:1 ;
    list-style: none;
    text-align: center;
}

nav li a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    padding: 1.5rem 0;
    font-size: 2.5vw;
    letter-spacing:0.3em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-bottom: 0.1em solid rgba(165, 18, 18, 0);
}

li a:hover{
    background-color: rgba(255, 181, 181, 0.151);
    border-bottom: 0.1em solid rgb(255, 167, 167);
    text-shadow: 0.1rem 0.1rem 0.8rem rgba(255, 255, 255, 0.74);
}
li a:active{
    font-weight:bold;
}



img{
    border-radius: 0.2em;
}



footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.055);
  }